.title{
    margin: 10px;
    text-align: center;
    // font-size: small;
    .image{
        width: 45%;
        height:50%;
        margin-left: auto;
        margin-right: auto;
        background-color:#0F3A5D ;
        border-radius: 20px;
        img{
            padding: 20px;
            
        }
    }
}
#id{
    background-color: blanchedalmond;
}